/* Boton "ir" arriba */

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 30%;
    transition: background-color 0.3s;
    box-shadow: 0 0 5px black; 
  }
  
  #goToTopBtn:hover {
    background-color: #ff6b81;
  }