@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list-nav ul {
  display: flex;
}
.header-list-nav ul li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
  margin-left: 36px;
}
.header-list-nav ul a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #088178;
  content: "";
}
.header-list-icon a {
  color: #1a1a1a;
  padding-left: 20px;
  transition: 0.3s ease;
}
.header-list img {
  display: none;
} 
.header-list #btn_menu {
  display: none;
}
.header-list-icon a:hover,
.header-list-nav ul a.active {
  color: #088178;
}
.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* hero section styles */

#hero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.8)), url(images/fondo.jpg);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: top -80% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px;
}

#hero::after {
  content: "";
  background-image: url('images/blog/b3.png');
  background-repeat: no-repeat;
  position:absolute;
  top: 5px;
  right: 80px;
  bottom: 0;
  left: 650px;
  z-index: 1;
  animation: moveLeftRight 5s linear infinite alternate;
}


@keyframes moveLeftRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px); 
  }
}


#hero p {
  padding-bottom: 15px;
  font-size: 1.5rem;
  color: #ffffff;
  position: relative;
  top: 70px;
}

#hero h2{
  font-size: 3.5rem; 
  color:#f98bb7;
  position: relative;
  top: 70px;
}
#hero h1 {
  color: #00c43b;
  font-size: 5.5rem;
  position: relative;
  top: 70px;

}

/* Sucursales */

.ag-format-container {
  width: 100%;
  height: 130vh;
  margin: 0 auto;
  position: relative;
  padding: 40px;
  padding-top: 40px;
  background-image: url('images/cover/5543.jpg');
  background-size: cover;
  background-position: center;
}

.ag-courses_box {
  flex-wrap: wrap;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  width: 30%; 
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212; 
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 40px;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 25px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}


/* Boton "ir" arriba */

#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 30%;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px black; 
}

#goToTopBtn:hover {
  background-color: #ff6b81;
}


/* footer section styles */

#footer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: 5px 0;
  padding: 15px;
  font-size: 20px;
  line-height: 1.5;
  background-color: #088178;
}

#footer p, #footer a{
  color: white;
  text-decoration: none;
} 

p i {
  font-size: 20px;
  color: rgb(0, 0, 0);
}



/* RESPONSIVE MENU*/

@media screen and (max-width: 720px) {

  .header-list-nav {
    position: fixed;
    top: 0;
    right: -250px;
    background: rgb(43, 35, 35);
    width: 250px;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    transition: all 300ms;
  }

  .header-list-nav ul {
    flex-direction: column;
    margin-top: 40px;
    
  }
  .header-list-nav ul li {
    margin-top: 30px;
    margin-left: 0;
   
  }
  .header-list-nav ul a {
    color: #ffffff;
    font-size: 25px;
  }  
  .header-list img {
    display: block;
    width: 95px;
    margin: 0 auto;
  } 
  #back_menu{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  } 
  .header-list #btn_menu{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(225, 255, 255, 0.1);
    font-size: 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
  } 
  .header-list #btn_menu:hover{ 
    background: #fc8798;
  } 

}

/* RESPONSIVE HERO */

/* Versión móvil */
@media (max-width: 768px) {
  #header {
    padding: 20px; 
  }
  #hero {
    padding: 0 20px; 
  }
}

/* Versión tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  #header {
    padding: 20px 50px;
  }
  #hero {
    padding: 0 50px;
  }
}

/* TEXTOS RESPONSIVE */
@media (max-width: 768px) {

  #hero p {
    font-size: 1.3rem;
  }

  #hero h2 {
    font-size: 1.5rem; 
  }

  #hero h1 {
    font-size: 4rem;
  } 
}


/* SUCURSALES RESPONSIVE */

@media (max-width: 768px) {

  .ag-format-container {
    padding: 20px;
    width: 100%;
    height: 250vh;
  }

  .ag-courses_item {
    width: 100%;
  }

  .ag-courses-item_title {
    font-size: 20px;    
  }  

  .ag-courses-item_link {  
    padding: 15px;
    background-color: #313131;
  }
  
}

/* FLOOTER RESPONSIVE */

/* Versión móvil */
@media (max-width: 768px) {

  #footer { 
    flex-direction: column;
  }
  
}

/* Versión tablet y desktop */
@media (min-width: 769px) {

  #footer {
    display: flex;
    justify-content: space-between; 
  }

}

