@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

button.normal {
  font-size: 14px;
  font-weight: 600px;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.normal:hover {
  background-color: #088178;
  color: #fff;
}
body {
  width: 100%;
}

/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list-nav ul {
  display: flex;
}
.header-list-nav ul li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
  margin-left: 36px;
}
.header-list-nav ul a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #088178;
  content: "";
}
.header-list-icon a {
  color: #1a1a1a;
  padding-left: 20px;
  transition: 0.3s ease;
}
.header-list img {
  display: none;
} 
.header-list #btn_menu {
  display: none;
}
.header-list-icon a:hover,
.header-list-nav ul a.active {
  color: #088178;
}
.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}


/* hero section styles */

#hero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(images/fondo.jpg);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top -80% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px;
}

#hero::after {
  content: "";
  background-image: url('images/blog/bannerhero.png');
  background-repeat: no-repeat;
  position:absolute;
  top: 155px;
  right: 180px;
  bottom: 0;
  left: 700px;
  z-index: 1;
  animation: moveLeftRight 5s linear infinite alternate;
}

@keyframes moveLeftRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px); 
  }
}

#hero p {
  padding-bottom: 15px;
  font-size: 20px;
  color: #ffffff;
  position: relative;
  top: 70px;
}

#hero i {
    padding-bottom: 15px;
    font-size: 20px;  
    color: #fbfd70;
    position: relative;
    top: 70px;
  }

#hero h2{
  font-size: 70px;
  color:#f98bb7;
  position: relative;
  top: 70px;
}
#hero h1 {
  color: #00c43b;
  font-size: 70px;
  position: relative;
  top: 70px;

}
#hero button {
  position: relative; 
  background-color:#0db0b4;
  width: 280px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;  
  font-size: 25px;
  font-weight: 700;
  color:#ffffff;
  padding: 14px 65px 14px 65px;
  margin-top: 75px;  
}

#hero button span {
  position: absolute;
  display: block;
}
              
#hero button:hover {
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);  
}

#hero button:hover span {
  animation-play-state: paused;
}

#hero button {
  position: relative;  
  overflow: hidden; 
}

#hero button:after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: linear-gradient(90deg, #0ff 15%, #f0f 40%, #ff0 60%); 
  z-index: -1;  
  animation: snakeBorder 2s linear infinite;
}

@keyframes snakeBorder {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(100%);
  } 
}

/* feature section styles */


#features {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#features .f-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 20px 34px rgba(151, 56, 56, 0.03);
  border: 2px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  transition: box-shadow 0.3s;
}
#features .f-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}
#features .f-box img {
  width: 100%;
  margin-bottom: 10px;
}
#features .f-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  font-size: 14px;
  border-radius: 4px;
  color: #000000;
  background-color: #ffa190;
}
#features .f-box:nth-child(2) h6 {
  background-color: #ffef60;
}
#features .f-box:nth-child(3) h6 {
  background-color: #c0c1fd;
}
#features .f-box:nth-child(4) h6 {
  background-color: #a7ffc1;
}
#features .f-box:nth-child(5) h6 {
  background-color: #fcc28d;
}
#features .f-box:nth-child(6) h6 {
  background-color: #ff9ecb;
}


/* off banner section styles */

#off-banner {
  background-image: url(images/banner/pb1.jpg);
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#off-banner h4 {
  color: #bf264a;
}
#off-banner h2 {
  color: #000000;
  padding: 20px 0;
}

/* banners section styles */

#banners {
  margin: 0 60px;
}

#banners h2,
#banners h4,
#banners span {
  color: rgb(248, 248, 248);
}

#banners .big-banners,
#banners .small-banners {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#banners .big-banners div,
#banners .small-banners div {
  min-width: 300px; 
  flex: 1; 
  max-width: 600px; 
  height: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
  background-size: cover;
  backdrop-filter: blur(8%);
  border: 0px solid transparent;
  border-radius: 10px; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#banners .big-banners div:hover,
#banners .small-banners div:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-15px); 
}

#banners .big-banners button,
#banners .small-banners button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  color: rgb(248, 248, 248);
  border: 1px solid rgb(248, 248, 248);
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}

#banners .big-banners div:hover button,
#banners .small-banners div:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}

/* banners */

#banners .big-banners-1 {
  background-image: url(images/banner/b17.jpg);
}

#banners .big-banners-2 {
  background-image: url(images/banner/b10.jpg);
}

#banners .small-banners-1 {
  background-image: url(images/banner/b7.jpg);
}

#banners .small-banners-2 {
  background-image: url(images/banner/b4.jpg);
}

#banners .small-banners-3 {
  background-image: url(images/banner/b18.jpg);
}

#banners .small-banners h2 {
  font-size: 25px;
}

#banners .small-banners h5 {
  color: #771818;
}

/* base */
#banners .big-banners, 
#banners .small-banners {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banners .big-banners-1,
#banners .big-banners-2,  
#banners .small-banners-1,
#banners .small-banners-2,
#banners .small-banners-3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}

/* Boton "ir" arriba */

#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 30%;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px black; 
}

#goToTopBtn:hover {
  background-color: #ff6b81;
}

/* footer section styles */

#footer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: 5px 0;
  padding: 15px;
  font-size: 20px;
  line-height: 1.5;
  background-color: #088178;
}

#footer p, #footer a{
  color: white;
  text-decoration: none;
} 

p i {
  font-size: 20px;
  color: rgb(0, 0, 0);
}


/* RESPONSIVE MENU*/

@media screen and (max-width: 720px) {

  .header-list-nav {
    position: fixed;
    top: 0;
    right: -250px;
    background: rgb(43, 35, 35);
    width: 250px;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    transition: all 300ms;
  }

  .header-list-nav ul {
    flex-direction: column;
    margin-top: 40px;
    
  }
  .header-list-nav ul li {
    margin-top: 30px;
    margin-left: 0;
   
  }
  .header-list-nav ul a {
    color: #ffffff;
    font-size: 25px;
  }  
  .header-list img {
    display: block;
    width: 95px;
    margin: 0 auto;
  } 
  #back_menu{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  } 
  .header-list #btn_menu{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(225, 255, 255, 0.1);
    font-size: 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
  } 
  .header-list #btn_menu:hover{ 
    background: #fc8798;
  } 

}



/* RESPONSIVE TEXTO*/

/* Versión móvil */
@media (max-width: 768px) {

  #header {
    padding: 20px; 
  }

  #header h1 {
    font-size: 36px;
  }

  #hero {
    padding: 0 20px; 
  }

  #hero h1 {
    font-size: 36px;
  }

  #hero h2 {
    font-size: 32px;
  }

}

/* Versión tablet */
@media (min-width: 769px) and (max-width: 1024px) {

  #header {
    padding: 20px 50px;
  }

  #hero {
    padding: 0 50px;
  }

}

/* FRUITS IMG RESPONSIVE */

@media (max-width: 810px) {

  #features .f-box {
    width: 90%;
  }

  #features .f-box img {
    width: 40%;
    height: auto;
  }

  #features .f-box h6 {
    font-size: 12px;
  }

}
/* DESAPARECE */
@media (max-width: 800px) {

  #features {
    display: none; 
  }

  #banners .big-banners,
  #banners .small-banners {
    display: none;
  }

}

/* BANNERS RESPONSIVE */

@media (max-width: 1100px) {

  #banners .big-banners,
  #banners .small-banners {
    flex-direction: column;
    height: 600px;
    width: 500px;
    margin: 0 auto;  
    align-items: center;
  }

  #banners .big-banners-1,
  #banners .big-banners-2,
  #banners .small-banners-1,
  #banners .small-banners-2,  
  #banners .small-banners-3 {
    margin: 10px; 
  }

}
/* DESAPARECE */
@media (max-width: 800px) {

  #banners .big-banners,
  #banners .small-banners {
    display: none;
  }

}

/* FLOOTER RESPONSIVE */

/* Versión móvil */
@media (max-width: 768px) {

  #footer { 
    flex-direction: column;
  }

}

/* Versión tablet y desktop */
@media (min-width: 769px) {

  #footer {
    display: flex;
    justify-content: space-between; 
  }

}

