@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 0;
}
.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600px;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.normal:hover {
  background-color: #088178;
  color: #fff;
}
body {
  width: 100%;
}

/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list-nav ul {
  display: flex;
}
.header-list-nav ul li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
.header-list-nav ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #088178;
  content: "";
}
.header-list-icon a {
  color: #1a1a1a;
  padding-left: 20px;
  transition: 0.3s ease;
}
.header-list-icon a:hover,
.header-list-nav ul a.active {
  color: #088178;
}
.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}


/* hero section styles */

#hero {
  background-color: #f98bb7;
  width: 100%;
  height: 22vh;
  display: flex;
  flex-direction: column;
}


/* feature section styles */

.product-section .pro-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 60px;
}
.product-section h1,
.product-section p {
  text-align: center;
  margin-top: 50px;
}
.product-section .product-cart {
  width: 280px;
  border: 3px solid #dfdfdf;
  padding: 13px;
  margin-bottom: 30px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  box-shadow: 30px 30px 40px 40px rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.2s;
}
.product-section .product-cart:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product-section .product-cart img {
  width: 100%;
  border-radius: 25px;
}
.product-section .product-cart span {
  color: #969696;
  font-weight: 500;
  line-height: 30px;
}
.product-section .product-cart h4 {
  font-size: 18px;
  color: rgb(41, 41, 41);
}
.product-section .product-cart .stars {
  color: #e6ae2c;
  padding: 6px 0;
}
.product-section .product-cart .price {
  color: #088178;
  padding: 4px 0;
}
.product-section .product-cart .buy-icon {
  color: #088178;
  background-color: #c7e9e75e;
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* off banner section styles */

#off-banner {
  background-image: url(images/banner/pb1.jpg);
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#off-banner h4 {
  color: #bf264a;
}
#off-banner h2 {
  color: #000000;
  padding: 20px 0;
}




/* Boton "ir" arriba */

#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 30%;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px black; 
}

#goToTopBtn:hover {
  background-color: #ff6b81;
}

/* footer section styles */

#footer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: 5px 0;
  padding: 15px;
  font-size: 20px;
  background-color: #088178;
}

#footer p, #footer a{
  color: white;
  text-decoration: none;
} 

p i {
  font-size: 20px;
  color: rgb(0, 0, 0);
}