@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3e6f3;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list-nav ul {
  display: flex;
}
.header-list-nav ul li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
.header-list-nav ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #088178;
  content: "";
}
.header-list-icon a {
  color: #1a1a1a;
  padding-left: 20px;
  transition: 0.3s ease;
}
.header-list-icon a:hover,
.header-list-nav ul a.active {
  color: #088178;
}
.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}





/* hero section styles */

#hero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.8)), url(images/fondo.jpg);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: top -80% right 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px;
}

#hero::after {
  content: "";
  background-image: url('images/blog/b2.png');
  background-repeat: no-repeat;
  position:absolute;
  top: 5px;
  right: 80px;
  bottom: 0;
  left: 850px;
  z-index: 1;
  animation: moveLeftRight 5s linear infinite alternate;
}


@keyframes moveLeftRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px); 
  }
}

#hero p {
  font-size: 30px;
  color: #ffffff;
  position: relative;
  top: 70px;
}

#hero h2{
  font-size: 70px;
  color:#0db0b4 ;
  position: relative;
  top: 70px;
}

#hero h1 {
  color: #f98bb7;
  font-size: 90px;
  text-align: center;
  position: relative;
  top: 70px;

}

/* Text */

#text {
    line-height: 1.5; 
    position: relative; 
    font-weight: bold;
}

#text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(149, 150, 149, 0.8), rgba(149, 150, 149, 0.8)), url('images/cover/5483.jpg');
    background-size: cover; 
    background-position: center;
    z-index: -1; 
    opacity: 0.8; 
    filter:contrast(5px);
}

#text h2 {
    color: #ff0066;
    border: white 8px inset;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
}

#text p {
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
}


/* footer section styles */

#footer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: 5px 0;
  padding: 15px;
  font-size: 20px;
  line-height: 1.5;
  background-color: #088178;
}

#footer p, #footer a{
  color: white;
  text-decoration: none;
} 

p i {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

